.tweet{
  border: 1px solid skyblue;
  width: 546px;
  height: 150px;
  font-size: 18px;
  padding: 10px;
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 18px;
}